h3{
  font-size:30px;
  margin-bottom:20px;
  text-align:center;
  color:green;
}
.boxCart{
  width:1200px;
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.boxCart > figure{
  width:calc(25% - 1em);
  margin: 0 0 1em;
  padding:10px;
  border:3px solid #ddd;
  box-sizing: border-box;
  text-align:center;
}
.boxCart > figure > img{
  width:100%;
}

footer{
  width:1200px;
  margin: 0 auto;
  text-align:center;
  font-size:24px;
}
footer>p{
  margin-bottom:20px;
}
footer>div{
  width:80%;
  margin: 0 auto;
  padding:20px;
  box-sizing: border-box;
  color:#333;
  border:2px solid
}